@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
background: linear-gradient(180deg, rgb(23 23 72) 0%, rgb(56 13 105) 100%); 
 min-height: 100vh;
 background-repeat: no-repeat;
  margin: 0;
}

