.homeMain1 {
  flex-direction: column;
  /* min-height: 100vh; */
  justify-content: space-evenly;
  background-color: rgba(39, 46, 53, 0);
  background-image: url("./assests/Group.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sec1 {
  width: 80%;
  margin: 0px auto;
  margin-top: 50px;
}
.titleSame1 {
  z-index: 1;
  white-space: normal;
  -webkit-text-fill-color: transparent;
  background-color: #fafafa;
  background-image: linear-gradient(135deg, #fff 38%, #828282);
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0px;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 3.5rem;
}

.titleSame2 {
  z-index: 1;
  white-space: normal;
  -webkit-text-fill-color: transparent;
  background-color: #fafafa;
  background-image: linear-gradient(135deg, #fff 38%, #828282);
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0px;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 3.5rem;
}

.perabtndiv {
  display: flex;
  align-items: center;
  width: 100%;
}
.peraSame {
  margin-top: 20px;
  letter-spacing: 1px;
  color: #d8d8d8;
  padding: 5px 0px;
  font-weight: 500;
  width: 60%;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5em;
}

.hLaunchMain {
  cursor: pointer;
  text-align: center;
  width: 40%;
}

.hLaunch {
  padding: 13px 30px;
  background: #1615237a;
  border: 1px solid #ffffff9a;
  letter-spacing: 1.2px;
  font-size: 1rem;
  border-radius: 63px;
  color: white;
  cursor: pointer;
  margin: 0px 10px;
}
.hLaunch:hover {
  border: none;
  border: 1px solid #9272f7;
  box-shadow: 0px 4px 16.3px 0px #9272f7 inset;
}
/* ...........sec2............... */

.chainTitle {
  font-weight: 275;
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}
.sec2Title {
  color: #ffffff;
  font-weight: 200;
  font-size: 2rem;
  letter-spacing: 1px;
}
.sec2Main {
  margin-top: 10% !important;
  margin-bottom: 30px !important;
  width: 80%;
  margin: 0px auto;
}
.sec2Pera {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 200;
}
.gridContentMain {
  z-index: 5;
  width: 100%;
  max-width: 72em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.gridContent {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  align-items: flex-start;
  display: flex;
}
.gridBox1 {
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}
.gridImg:hover {
  scale: 1.25;
}
.gridImg {
  justify-content: flex-start;
  margin-bottom: 1.5em;
  display: flex;
  transition: scale 0.5s;
}

.gridBox1 h6 {
  color: #fff;
  letter-spacing: -0.025em;
  margin-bottom: 10px;
  font-size: 1.5em;
  margin-top: 0px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  display: block;
}
.box1Pera {
  color: #d8d8d8;
  text-align: left;
  letter-spacing: -0.005em;
  margin-bottom: 0%;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 150%;
}
.sec2Div {
  padding-bottom: 30px;
}

/* .......sec3.... */
.sec3Main {
  margin-top: 50px !important;
  margin-bottom: 30px !important;
  width: 80%;
  margin: 0px auto;
}
.usecaseMain {
  padding: 70px 0px;
}

.getstartbtn {
  padding: 10px;
  border-radius: 25px;
  background-color: black;
  color: white;
  border: 1px solid #ab00ff;
}

.card {
  width: 300px;
  height: 240px;
  border-radius: 20px;
  border-left-color: rgb(23 23 72);
  margin: 10px 15px;
  display: flex;
  cursor: pointer;
  color: white;
  flex-direction: column;
  padding: 15px 25px;
  background: linear-gradient(
    180deg,
    rgba(22, 16, 32, 0.765) 0%,
    rgba(9, 2, 30, 0.9) 100%
  );
  justify-content: space-evenly;
}

.card:hover {
  background: linear-gradient(
    180deg,
    rgba(22, 16, 32, 0) 0%,
    rgba(37, 35, 59, 0.9) 100%
  );
  border: 1px solid #9272f7;
  box-shadow: 0px 4px 120.8px 0px #9f53ff8c inset;
  backdrop-filter: blur(3px);
}
.card:hover .cardImg1 {
  border: 1px solid;
  border-image-source: linear-gradient(310.46deg, #000000 49.65%, #9F53FF 83.37%);  
  background: linear-gradient(139.17deg, #27253e 18.33%, #101421 86.09%);
  box-shadow: -11px -4px 34.7px 0px #b659ff57;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.aboutBox{
  margin-left: 70px;
}

.imageincard {
  border-radius: 10px;
}
.cardimage {
  /* border: 1px solid white; */
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
.cardimage img {
  width: 30px;
  height: auto;
  background: linear-gradient(139.17deg, #27253e 18.33%, #101421 86.09%);
  border-radius: 50px;
  padding: 20px;
}
.cardcontent2 {
  font-size: 13px;
  font-weight: 200;
  margin: 14px 0px;
}

.cardcontent1 {
  margin: 7px 0px;
  font-size: 20px;
  font-weight: 600;
}
/* .........sec4 */
.sec21 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  margin-top: 10% !important;
}

.outerWrapper {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: relative;
}
.logoWrapper {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.innerWrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.mainlogo {
  background-color: rgba(236, 81, 104, 0);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 0%;
  display: flex;
  box-shadow: 0 0 30px 15px rgba(212, 212, 212, 0.63);
}
.logodiv img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
.MidWrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.midcircle {
  z-index: 0;
  opacity: 0.8;
  width: 80%;
  position: absolute;
  top: 10%;
  bottom: 0%;
  left: 10%;
  right: 0%;
  height: auto;
}
.outercircle {
  opacity: 0.9;
  width: 100%;
}
.innercircle {
  z-index: 0;
  opacity: 0.8;
  width: 60%;
  position: absolute;
  top: 20%;
  bottom: 0%;
  left: 20%;
  right: 0%;
  height: auto;
}
.chainCircle {
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 420px;
  display: flex;
  position: relative;
}
.flexContent {
  max-width: 28rem;
  color: white;
  margin: 0 8%;
}
.flexContent h2 {
  font-size: 2.25rem;
  line-height: 2.9rem;
  font-weight: 300;
  margin: 0;
  letter-spacing: 1px;
}
.flexpera {
  padding: 15px 0px;
  font-size: 15px;
  font-weight: 200;
  color: rgb(204 202 211 / var(--opacity));
}
.logoinner {
  width: 40px;
  height: 40px;
  z-index: 5;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 1px 5px 2px rgba(161, 161, 161, 0.39);
  top: 0%;
  bottom: auto;
  right: auto;
  left: 0%;
}
.logoinner.base {
  top: auto;
  bottom: 19%;
  left: auto;
  right: 2%;
}
.logoinner.eth {
  top: 25%;
  left: 25%;
}
.logoinner.optimism {
  left: -5%;
  top: 57%;
}
.logoinner.mode {
  left: 67%;
}
.logoinner.scrolll {
  left: 40%;
  top: 75%;
}
.logoinner.tron {
  left: 74%;
  top: 38%;
}
.hApp {
  padding: 10px 40px;
  border-radius: 20px;
  margin-top: 10px;
  color: white;
  background: #1615237a;
  border: 1px solid #ffffff;
}
.hApp:hover{
  background: #16152380;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 16.3px 0px #9272F7 inset;

}
/* ........sec5........ */
.sec5Title {
  text-align: center;
  font-weight: 200;
  font-size: 2rem;
  letter-spacing: 1px;
  color: white;
}
.cardGet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.cardofgetstart:hover {
  background: linear-gradient(180deg, rgba(105, 119, 255, 0.9) 0%, rgba(37, 35, 59, 0.9) 100%);
  border: 1px solid #9272F7;
  box-shadow: 0px 4px 120.8px 0px #3B7DFFAB inset;

}

.cardofgetstart:hover button {
  box-shadow: 0px 2.85px 11.63px 0px #9272F7 inset;
  border: 0.71px solid #FFFFFF;
  background: #0E1210CC;

}
.cardofgetstart button {
  background: #1615237a;
  border: 0.8px solid #ffffff;
  padding: 10px 30px;
}
.cardofgetstart {
  width: 300px;
  cursor: pointer;
  height: 180px;
  border-radius: 20px;
  border: none;
  color: white;
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  padding: 15px 25px  ;
  background: linear-gradient(180deg, rgba(22, 16, 32, 0.765) 0%, rgba(19, 32, 57, 0.9) 100%);
backdrop-filter: blur(3px);
  justify-content: space-evenly;
}
/* .snake section........ */
.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.stepWrapper {
  margin: 30px;
  margin-bottom: 200px;
  position: relative;
}

.lineStep {
  text-align: center;
  max-width: 250px;
  position: absolute;
}

.num {
  padding: 13px;
  color: #fff;
  border-radius: 100px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  background: linear-gradient(180deg, #9272f7 0%, #4c3698 100%);
  line-height: 40px;
  font-weight: bold;
  /* background: #ab00ff; */
  transition: scale 0.5s;
}

/* Adjusted CSS for 'p' selector */
p.snakeText {
  width: 250px;
  position: absolute;
  margin-top: 7px;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
}

.path {
  visibility: hidden;
  stroke: white;
}

p.top {
  bottom: 50px;
  left: -110px;
  color: white;
  letter-spacing: 1px;
}

p.bottom {
  left: -110px;
  color: white;
  letter-spacing: 1px;
}

p.left {
  width: 200px;
  right: 34px;
  top: -17px;
  color: white;
  letter-spacing: 1px;
}

p.right {
  width: 200px;
  left: 34px;
  top: -17px;
  color: white;
  letter-spacing: 1px;
}

.lineStep,
.path {
  visibility: hidden;
}

.moveLine .path {
  visibility: visible;
  stroke-dasharray: 3700;
  border-style: dashed;
  stroke-dashoffset: 3700;
  animation: moveline 4s linear forwards;
}

.moveLine .lineStep {
  animation-name: show-step-item;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.moveLine .lineStep1 {
  animation-delay: 0.4s;
}
.moveLine .lineStep2 {
  animation-delay: 0.8s;
}
.moveLine .lineStep3 {
  animation-delay: 1.2s;
}
.moveLine .lineStep4 {
  animation-delay: 1.6s;
}
.moveLine .lineStep5 {
  animation-delay: 2s;
}
.moveLine .lineStep6 {
  animation-delay: 2.4s;
}
.moveLine .lineStep7 {
  animation-delay: 2.8s;
}
.moveLine .lineStep8 {
  animation-delay: 3.2s;
}

@keyframes show-step-item {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes moveline {
  to {
    stroke-dashoffset: 0;
  }
}

.num:hover {
  scale: 1.3;
}
.divheadertag h3 {
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(50, 37, 67, 0.32) 0%,
    rgba(102, 43, 187, 0.32) 100%
  );
  color: white;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0px;
  margin-left: 160px;
  padding: 10px 20px;
  border-radius: 10px;
}
.sec4Main {
  margin-top: 150px !important;
  margin-bottom: 30px !important;
  width: 80%;
  margin: 0px auto;
}
/* ..........footer........... */

.footericon:hover {
  transform: scale(1.2);
}

#mirroricon {
  width: auto;
  height: 28px;
}
.footerouterdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
  text-align: "center";
  color: white;
  padding: 0px 0px;
  font-size: 15px;
}
.footericon {
  margin: 0px 3px;
  transition: transform 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .footerouterdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0px;
  }
  .footercopyrightText {
    display: none;
  }
}
@media only screen and (max-width: 525px) {
  .footerouterdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
    margin: 0px;
  }
  .footercopyrightText {
    display: none;
  }
  .footericon {
    display: none;
  }
}